<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">
        <activity
            android:name=".acitivites.loginAndResgiter.Register"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".acitivites.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />

        <activity
            android:name=".acitivites.route.RouteListActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />

        <activity
            android:name=".acitivites.passengerDetail.PassengerDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />

        <activity
            android:name=".acitivites.detail.DetailBookingActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />

        <activity
            android:name=".acitivites.editRoute.EditRouteActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".acitivites.listRoute.ListRouteActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".acitivites.manageUser.ManagerUserActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".acitivites.payments.PaymentsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".acitivites.home.LocationSearchActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".acitivites.seat.SeatSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".acitivites.loginAndResgiter.Login"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>